*.swp
*.swo
.HA_VERSION
.uuid
home-assistant.log
home-assistant_v2.db*
*.pem
deps/
tts/
.storage
www/community/
script-env/
broadlink-env/
shell_commands/__pycache__/
__pycache__/
ip_bans.yaml
custom_components/
id_rsa*

# temp ignore while figuring
secrets.yaml
known_devices.yaml
mysensors.json
mysensors-mqtt.json
html5_push_registrations.conf
entity_registry.yaml
shell_commands/secrets.sh
.vim/coc-settings.json
*.env
